.notes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%
    
}

.note-card {
    border-radius: 8px;
    /* padding: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e8eaed;
    border: 1px solid #5f6368;
    background-color: #292929;
    width: 226px; 
    min-height: 100px;
    box-sizing: border-box; 
    letter-spacing: .00625em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;

}

.note-actions{
    display: flex;
    padding:10px;
    /* overflow-wrap: anywhere; */
}

.pinned-notes-section,
.unpinned-notes-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); 
    gap: 10px;
    grid-auto-rows: minmax(100px, auto); 
    grid-auto-flow: dense;
    margin-bottom:50px;
}


@media (max-width: 1024px) {
    .pinned-notes-section,
    .unpinned-notes-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .pinned-notes-section,
    .unpinned-notes-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .pinned-notes-section,
    .unpinned-notes-section {
        grid-template-columns: 1fr;
    }
}

.pin-icon,
.delete-icon {
    position: relative;
}

.note-card h3 {
    margin: 4px 0 29px;
    overflow-wrap: anywhere;
}

.note-card p {
    margin: 0;
    white-space: pre-wrap; 
    flex-grow: 1;
    overflow-wrap: anywhere;

}

.note-card .pin {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.note-card:hover {
    background-color: #3c4043;
}

.note-card .pin-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    cursor: pointer;
}

.note-card:hover .pin-icon {
    display: block;
}

.note-card .delete-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    cursor: pointer;
}

.note-card:hover .delete-icon {
    display: block;
}

.footer-card {
    display: flex;
    justify-content: space-evenly;
}

.pin-icon,
.delete-icon {
    position: relative;
}


    .icon-text {
        position: absolute;
        top: calc(100% + 5px); 
        left: 50%;
        transform: translateX(-50%);
        background-color: #444;
        color: #fff;
        padding: 3px 6px;
        border-radius: 4px;
        font-size: 12px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        pointer-events: none;
    }


.pin-icon:hover .icon-text, .delete-icon:hover .icon-text {
    opacity: 1;
    visibility: visible;
}